# Dependencies
node_modules
.pnpm-store

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
frontend/dist
backend/dist
.output
.tanstack
.wrangler

# Operating system / IDE
.DS_Store
Thumbs.db
.vscode
.idea

# Temporary files & logs
*.log
backend/uploads
backend/temp
backend/logs
.system_generated/
